Repository huazai128/react-mobx: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

修改配置
  .eslintrc.js
  .stylelintrc.js
  README.md
  build/env.json
  build/plugins.js
  package.json
  src/containers/views/Article/index.tsx
  src/index.tsx
  src/store/useRootStore.ts
Due: eslint --fix, prettier --write

feat: 配置
  .eslintrc.js
Due: none

feat: 新增web worker
  build/plugins.js
  package.json
  src/containers/views/Canvas/Like/index.tsx
  src/containers/views/Canvas/Like/like.worker.ts
  src/containers/views/Canvas/Like/style.scss
  src/containers/views/Canvas/Like/style.scss.d.ts
  src/containers/views/Home/menu.ts
  src/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat：web worker canvas
  .prettierrc
  package.json
  src/containers/views/Canvas/Like/index.tsx
  src/containers/views/Canvas/Like/like.worker.ts
  src/containers/views/Canvas/Like/style.scss
  src/containers/views/Canvas/Like/style.scss.d.ts
  src/styles/_base.scss
  src/utils/util.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat： web worker 离屏画卡
  package.json
  src/containers/views/Canvas/Card/index.tsx
  src/containers/views/Canvas/Card/style.scss
  src/containers/views/Canvas/Card/style.scss.d.ts
  src/containers/views/Canvas/Like/index.tsx
  src/containers/views/Canvas/Like/like.worker.ts
  src/containers/views/Home/menu.ts
  src/containers/views/LiveVideo/Rtmp/index.tsx
  src/containers/views/LiveVideo/Rtmp/style.scss
  src/containers/views/LiveVideo/Rtmp/style.scss.d.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat： 直播
  build/plugins.js
  build/rules/styleRules.js
  build/webpack.config.js
  package.json
  src/components/PhonePage/index.tsx
  src/components/PhonePage/style.less
  src/containers/views/Canvas/Like/index.tsx
  src/containers/views/Home/menu.ts
  src/containers/views/LiveVideo/Broadway/index.tsx
  src/containers/views/LiveVideo/Broadway/style.less
  src/containers/views/LiveVideo/Rtmp/index.tsx
  src/containers/views/LiveVideo/Rtmp/style.less
  src/containers/views/LiveVideo/Rtmp/style.scss
  src/containers/views/LiveVideo/Rtmp/style.scss.d.ts
  src/containers/views/SocketDebugger/Browse/Message.tsx
  src/containers/views/SocketDebugger/Browse/index.scss
  src/containers/views/SocketDebugger/Browse/index.scss.d.ts
  src/containers/views/SocketDebugger/Browse/index.tsx
  src/containers/views/SocketDebugger/Handler/Connect.tsx
  src/containers/views/SocketDebugger/Handler/DataFormat.tsx
  src/containers/views/SocketDebugger/Handler/Send.tsx
  src/containers/views/SocketDebugger/Handler/Type.tsx
  src/containers/views/SocketDebugger/Handler/index.scss
  src/containers/views/SocketDebugger/Handler/index.scss.d.ts
  src/containers/views/SocketDebugger/Handler/index.tsx
  src/containers/views/SocketDebugger/index.scss
  src/containers/views/SocketDebugger/index.scss.d.ts
  src/containers/views/SocketDebugger/index.tsx
  src/services/websocket/index.ts
  src/services/websocket/socketIO.ts
  src/services/websocket/websocket.ts
  src/store/index.ts
  src/store/socketStore/index.ts
  src/store/socketStore/type.d.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat：remove
  src/store/index.ts
  src/store/searchStore/index.ts
  src/store/searchStore/type.d.ts
  tool/template/TemplateName.scss.txt
  tool/template/TemplateName.tsx.txt
Due: eslint --fix, prettier --write

feature: YUV直播
  src/containers/views/Canvas/Like/index.tsx
  src/containers/views/Home/menu.ts
  src/containers/views/LiveVideo/Broadway/broadway.min.js
  src/containers/views/LiveVideo/Broadway/index.tsx
  src/containers/views/LiveVideo/Broadway/style.less
  src/containers/views/LiveVideo/Rtmp/index.tsx
  src/containers/views/LiveVideo/Yuv/index.tsx
  src/containers/views/LiveVideo/Yuv/style.less
  typings/global.d.ts
Due: eslint --fix, prettier --write

fix: 画卡实现
  .prettierrc
  package.json
  src/components/PhonePage/style.less
  src/containers/shared/App/Provider.tsx
  src/containers/views/Article/components/ArticleTable/index.tsx
  src/containers/views/Canvas/Card/index.tsx
  src/containers/views/Canvas/Card/style.less
  src/containers/views/Canvas/Card/style.scss
  src/containers/views/Canvas/Card/style.scss.d.ts
  src/containers/views/LiveVideo/Yuv/index.tsx
  src/interfaces/card.interface.ts
  src/store/cardStore/canvasDrew.ts
  src/store/cardStore/index.ts
  src/store/cardStore/type.d.ts
  src/store/index.ts
  typings/store.d.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: update
  src/containers/views/Algorithm/index.ts
  src/containers/views/Article/index.tsx
  src/store/cardStore/index.ts
Due: eslint --fix, prettier --write

feat: 大文件上传
  package.json
  src/containers/views/Home/menu.ts
  src/containers/views/Upload/index.tsx
  src/containers/views/Upload/style.less
  src/containers/views/Users/UserModal.tsx
  src/services/http.ts
  src/store/index.ts
  src/store/maxUploadStore/index.ts
  src/store/maxUploadStore/type.d.ts
  src/store/maxUploadStore/worker.ts
  src/store/uploadStore/index.ts
  typings/global.d.ts
  typings/store.d.ts
Due: eslint --fix, prettier --write

feat: 大文件上传
  src/containers/views/Upload/index.tsx
  src/services/api/upload.ts
  src/services/http.ts
  src/store/maxUploadStore/index.ts
  src/store/maxUploadStore/worker.ts
Due: eslint --fix, prettier --write

feat: 剔除没必要的代码
  build/env.json
  screenshot.png
Due: none

feat: 大文件分片上传
  src/index.tsx
  src/services/api/upload.ts
  src/services/http.ts
  src/store/maxUploadStore/index.ts
  src/store/uploadStore/index.ts
Due: eslint --fix, prettier --write

feat: 修改大文件上传
  src/store/maxUploadStore/index.ts
Due: eslint --fix, prettier --write

feat: 画卡
  build/rules/jsRules.js
  package.json
  src/containers/views/Canvas/Card/index.tsx
  src/interfaces/card.interface.ts
  src/store/cardStore/canvasDrew.ts
  src/store/cardStore/index.ts
Due: eslint --fix, prettier --write

feat: 画卡
  src/containers/views/Canvas/Card/index.tsx
  src/interfaces/card.interface.ts
  src/store/cardStore/canvasDrew.ts
  src/store/cardStore/index.ts
Due: eslint --fix, prettier --write

feat: 画卡功能
  src/containers/views/Canvas/Card/components/CardBox/index.tsx
  src/containers/views/Canvas/Card/components/CardBox/style.scss
  src/containers/views/Canvas/Card/index.tsx
  src/store/cardStore/index.ts
  src/store/maxUploadStore/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: canvas 拖拽和缩放
  src/containers/views/Canvas/Map/index.tsx
  src/containers/views/Canvas/Map/style.scss
  src/containers/views/Canvas/Map/style.scss.d.ts
  src/containers/views/Home/menu.ts
  src/utils/util.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix： update
  src/containers/views/Canvas/Map/index.tsx
Due: eslint --fix, prettier --write

fix: update
  src/containers/views/Canvas/Like/index.tsx
  src/containers/views/Canvas/Like/like.worker.ts
Due: eslint --fix, prettier --write

feat: IndexDB封装
  .vscode/settings.json
  build/config.js
  src/containers/views/Home/menu.ts
  src/containers/views/IndexDB/db.ts
  src/containers/views/IndexDB/index.tsx
  src/containers/views/IndexDB/style.scss
  src/containers/views/Users/UserModal.tsx
  typings/global.d.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

update
  .DS_Store
  .vscode/settings.json
  build/config.js
  package.json
  src/containers/shared/App/index.tsx
  src/containers/views/CSS/SendBox/components/BallBar.tsx
  src/containers/views/CSS/SendBox/components/Shotter.tsx
  src/containers/views/CSS/SendBox/index.tsx
  src/containers/views/CSS/SendBox/math.ts
  src/containers/views/CSS/SendBox/style.less
  src/containers/views/CSS/Sticky/index.tsx
  src/containers/views/CSS/Sticky/style.less
  src/containers/views/Canvas/Map/index.tsx
  src/containers/views/Canvas/MiteEditor/components/Controll.tsx
  src/containers/views/Canvas/MiteEditor/components/Template.tsx
  src/containers/views/Canvas/MiteEditor/index.tsx
  src/containers/views/Canvas/MiteEditor/style.less
  src/containers/views/Home/index.tsx
  src/containers/views/Home/menu.ts
  src/containers/views/JS/IndexDB/db.ts
  src/containers/views/JS/IndexDB/index.tsx
  src/containers/views/JS/IndexDB/style.scss
  src/containers/views/JS/Upload/index.tsx
  src/containers/views/JS/Upload/style.less
  src/index.tsx
  src/styles/_flex.less
Due: eslint --fix, prettier --write, stylelint --fix

canvas
  .DS_Store
  build/webpack.config.js
  package.json
  src/assets/images/msk.png
  src/containers/views/Canvas/MiteEditor/components/Canvas.tsx
  src/containers/views/Canvas/MiteEditor/components/Controll.tsx
  src/containers/views/Canvas/MiteEditor/components/Template.tsx
  src/containers/views/Canvas/MiteEditor/index.tsx
  src/containers/views/Canvas/MiteEditor/style.less
  src/store/canvasStore/index.ts
  src/store/canvasStore/type.d.ts
  src/store/index.ts
  src/utils/util.ts
  typings/store.d.ts
  yarn.lock
Due: eslint --fix, prettier --write

画卡
  src/containers/views/Canvas/MiteEditor/components/Canvas.tsx
  src/containers/views/Canvas/MiteEditor/components/Controll.tsx
  src/containers/views/Canvas/MiteEditor/style.less
  src/store/canvasStore/index.ts
  src/store/canvasStore/type.d.ts
Due: eslint --fix, prettier --write

sw
  src/containers/views/Canvas/MiteEditor/components/Canvas.tsx
  src/sw.ts
Due: eslint --fix, prettier --write

css3
  package.json
  src/containers/views/CSS/BlendMode/index.tsx
  src/containers/views/CSS/BlendMode/style.less
  src/containers/views/CSS/BoxShadow/index.tsx
  src/containers/views/CSS/BoxShadow/style.less
  src/containers/views/CSS/ClipPath/index.tsx
  src/containers/views/CSS/ClipPath/style.less
  src/containers/views/CSS/Perspective/index.tsx
  src/containers/views/CSS/Perspective/style.less
  src/containers/views/Home/menu.ts
Due: eslint --fix, prettier --write

css3 属性
  src/containers/views/CSS/BoxShadow/index.tsx
  src/containers/views/CSS/BoxShadow/style.less
  src/containers/views/CSS/DropShadow/index.tsx
  src/containers/views/CSS/DropShadow/style.less
  src/containers/views/CSS/Filter/index.tsx
  src/containers/views/CSS/Filter/style.less
  src/containers/views/CSS/TextShadow/index.tsx
  src/containers/views/CSS/TextShadow/style.less
  src/containers/views/Home/menu.ts
Due: eslint --fix, prettier --write

css3知识
  src/containers/views/CSS/Border/index.tsx
  src/containers/views/CSS/Border/style.less
  src/containers/views/CSS/BoxShadow/index.tsx
  src/containers/views/CSS/DropShadow/index.tsx
  src/containers/views/CSS/DropShadow/style.less
  src/containers/views/CSS/Filter/index.tsx
  src/containers/views/CSS/Filter/style.less
  src/containers/views/Home/menu.ts
Due: eslint --fix, prettier --write

css3 知识
  src/containers/views/CSS/Background/attachment.tsx
  src/containers/views/CSS/Background/clip.tsx
  src/containers/views/CSS/Background/index.tsx
  src/containers/views/CSS/Background/style.less
  src/containers/views/Home/menu.ts
Due: eslint --fix, prettier --write

css3
  package.json
  src/containers/views/CSS/Background/index.tsx
  src/containers/views/CSS/Background/style.less
  src/containers/views/Home/Sider/index.scss
  src/containers/views/Home/menu.ts
  src/containers/views/JS/Socket/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

css3新特性
  src/containers/views/CSS/Background/index.tsx
  src/containers/views/CSS/Background/style.less
  src/containers/views/CSS/Mask/index.tsx
  src/containers/views/CSS/Mask/style.less
  src/containers/views/Home/menu.ts
Due: eslint --fix, prettier --write

css3新特性
  src/containers/views/CSS/Background/index.tsx
  src/containers/views/CSS/Background/style.less
  src/containers/views/CSS/BlendMode/index.tsx
  src/containers/views/CSS/BlendMode/style.less
  src/containers/views/CSS/Mask/style.less
Due: eslint --fix, prettier --write

WebAssembly
  build/config.js
  package.json
  src/containers/views/Canvas/Like/index.tsx
  src/containers/views/Canvas/MiteEditor/components/Canvas.tsx
  src/containers/views/Canvas/WasmCanvas/.DS_Store
  src/containers/views/Canvas/WasmCanvas/components/DesignBlock/CanvasDraw.ts
  src/containers/views/Canvas/WasmCanvas/components/DesignBlock/DisignCanvas.tsx
  src/containers/views/Canvas/WasmCanvas/components/DesignBlock/DisignScene.tsx
  src/containers/views/Canvas/WasmCanvas/components/DesignBlock/index.tsx
  src/containers/views/Canvas/WasmCanvas/components/DesignBlock/style.less
  src/containers/views/Canvas/WasmCanvas/components/DisplayBlock/DisplayCanvas.tsx
  src/containers/views/Canvas/WasmCanvas/components/DisplayBlock/display.less
  src/containers/views/Canvas/WasmCanvas/components/DisplayBlock/display.ts
  src/containers/views/Canvas/WasmCanvas/index.tsx
  src/containers/views/Canvas/WasmCanvas/style.less
  src/containers/views/Home/menu.ts
  src/services/http.ts
  src/store/index.ts
  src/store/wasmStore/data.ts
  src/store/wasmStore/index.ts
  src/store/wasmStore/type.d.ts
  typings/global.d.ts
  typings/store.d.ts
Due: eslint --fix, prettier --write

WebAssembly
  src/containers/views/Canvas/WasmCanvas/components/DisplayBlock/DisplayCanvas.tsx
  src/containers/views/Canvas/WasmCanvas/components/DisplayBlock/display.less
  src/containers/views/Canvas/WasmCanvas/components/DisplayBlock/display.ts
  src/store/.DS_Store
  src/store/wasmStore/index.ts
  src/utils/util.ts
Due: eslint --fix, prettier --write

webassembly
  .vscode/settings.json
  package.json
  src/containers/views/Canvas/MiteEditor/components/Canvas.tsx
  src/containers/views/Canvas/WasmCanvas/components/DesignBlock/DisignCanvas.tsx
  src/containers/views/Canvas/WasmCanvas/components/DesignBlock/DisignScene.tsx
  src/containers/views/Canvas/WasmCanvas/components/DisplayBlock/DisplayCanvas.tsx
  src/containers/views/Canvas/WasmCanvas/components/DisplayBlock/display.ts
  src/containers/views/JS/IndexDB/index.tsx
  src/store/wasmStore/index.ts
  src/utils/util.ts
Due: eslint --fix, prettier --write

feat: 新增插件💐💐 🚀
  src/containers/views/Canvas/WasmCanvas/components/DisplayBlock/DisplayCanvas.tsx
  src/utils/util.ts
Due: eslint --fix, prettier --write

feat： 裁片切换效果🚀🚀
  src/containers/views/Canvas/WasmCanvas/components/DesignBlock/DisignCanvas.tsx
  src/containers/views/Canvas/WasmCanvas/components/DisplayBlock/DisplayCanvas.tsx
  src/containers/views/Canvas/WasmCanvas/components/DisplayBlock/display.ts
  src/store/wasmStore/index.ts
Due: eslint --fix, prettier --write

feat：设置器🚀
  package.json
  src/containers/views/Canvas/WasmCanvas/components/DesignBlock/CanvasDraw.ts
  src/containers/views/Canvas/WasmCanvas/components/DesignBlock/ColorSelect.tsx
  src/containers/views/Canvas/WasmCanvas/components/DesignBlock/Controller.tsx
  src/containers/views/Canvas/WasmCanvas/components/DesignBlock/DisignCanvas.tsx
  src/containers/views/Canvas/WasmCanvas/components/DesignBlock/controller.less
  src/containers/views/Canvas/WasmCanvas/components/DesignBlock/index.tsx
  src/containers/views/Canvas/WasmCanvas/components/DisplayBlock/DisplayCanvas.tsx
  src/containers/views/Canvas/WasmCanvas/components/DisplayBlock/display.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: src/**/*.scss)
  stylelint --fix: any of: src/**/*.scss
